body {
    background-color: #000;
}

#landing-header {
    z-index: 1;
    position: relative;
    text-align: center;
    padding-top: 40vh;
}

#landing-header h1 {
    color: #fff;
}

.slideshow { 
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 0;
    list-style: none;
    margin: 0;
    padding: 0;
}

.slideshow li { 
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    opacity: 0;
    z-index: 0;
    animation: imageAnimation 50s linear infinite; 
}

.slideshow li:nth-child(1) { 
    background-image: url(https://images.unsplash.com/photo-1476458393436-fb857cc4c7b5?auto=format&fit=crop&w=1950&q=60&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D) 
}
  .slideshow li:nth-child(2) { 
    background-image: url(https://images.unsplash.com/photo-1502426815876-9d66045f39f0?auto=format&fit=crop&w=1950&q=60&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D);
    animation-delay: 10s; 
}
  .slideshow li:nth-child(3) { 
    background-image: url(https://images.unsplash.com/photo-1485470733090-0aae1788d5af?auto=format&fit=crop&w=1991&q=60&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D);
    animation-delay: 20s; 
}
  .slideshow li:nth-child(4) { 
    background-image: url(https://images.unsplash.com/photo-1443996104801-80c82e789b18?auto=format&fit=crop&w=1953&q=60&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D);
    animation-delay: 30s; 
}
  .slideshow li:nth-child(5) { 
    background-image: url(https://images.unsplash.com/photo-1421789665209-c9b2a435e3dc?auto=format&fit=crop&w=1951&q=60&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D);
    animation-delay: 40s; 
}

@keyframes imageAnimation { 
    0% { 
      opacity: 0; 
      animation-timing-function: ease-in;
    }
    10% {
      opacity: 1;
      animation-timing-function: ease-out;
    }
    20% {
      opacity: 1
    }
    30% {
      opacity: 0
    }
}

/* Older browser support - .no-cssanimations class added by modernizr */
.no-cssanimations .slideshow li {
	opacity: 1;
}