.thumbnail img {
    width: 100%;
}

.thumbnail {
    padding-bottom: 5px;
}

.thumbnail .caption-full {
    padding: 9px;
}

#delete-form {
    display: inline;
}

body {
    background: #232526;
}

h2 {
    color: white;
}